<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet">

    <title>微博er——详情</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>微博er——详情</h1>
</div>

<div class="container" style="max-width: 720px">
    <div class="container article">
        <div class="author-time">
            <a class="author-name h4">马保国</a>
            <span class="time">2小时前</span>
        </div>
        <p>

        </p>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link count">点赞 666</a>
            </li>
            <li class="nav-item">
                <a class="nav-link count">评论 233</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <form>
            <label for="comment" class="h3" style="margin-top: 12px">评论</label>
            <textarea class="form-control" id="comment" disabled placeholder="请先登录"></textarea>
            <button type="button" class="btn btn-primary" style="margin-top: 6px" disabled>发表</button>
        </form>
    </div>
    <div class="container article">
        <div class="author-time">
            <a class="author-name h4">不讲武德年轻人</a>
            <span class="time">1小时前</span>
        </div>
        <p>
            对不起 对不起 马老师 我是乱打的
        </p>
    </div>
    <div class="container article">
        <div class="author-time">
            <a class="author-name h4">不讲武德年轻人</a>
            <span class="time">1小时前</span>
        </div>
        <p>
            对不起 对不起 马老师 我是乱打的
        </p>
    </div>
    <div class="container article">
        <div class="author-time">
            <a class="author-name h4">不讲武德年轻人</a>
            <span class="time">1小时前</span>
        </div>
        <p>
            对不起 对不起 马老师 我是乱打的
        </p>
    </div>
    <div class="container article">
        <div class="author-time">
            <a class="author-name h4">不讲武德年轻人</a>
            <span class="time">1小时前</span>
        </div>
        <p>
            对不起 对不起 马老师 我是乱打的
        </p>
    </div>
    <div class="container article">
        <div class="author-time">
            <a class="author-name h4">不讲武德年轻人</a>
            <span class="time">1小时前</span>
        </div>
        <p>
            对不起 对不起 马老师 我是乱打的
        </p>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#">上一页</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">10</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">下一页</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>