<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet">

    <title>微博er——忘记密码</title>
</head>
<body>

<div class="jumbotron text-center">
    <h1>微博er——忘记密码</h1>
</div>

<div class="container" style="max-width: 360px">
    <form>
        <div>
            <label for="Email" class="form-label">邮箱</label>
            <input type="email" class="form-control" id="Email">
        </div>
        <div class="text-center" style="margin-top: 12px">
            <button type="submit" class="btn btn-primary">重置密码</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>