<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet">

    <title>微博er——主页</title>
</head>
<body onload="getLogedin()">
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: calc(1.325rem + 0.9vw)">微博er</a>
        <div class="d-flex">
            <button id="first_button" type="button" class="btn btn-outline-primary" style="margin-right: 6px"
                    onclick="window.location.href='/login'">登录</button>
            <button id="second_button" type="button" class="btn btn-outline-secondary"
                    onclick="window.location.href='/reg'">注册</button>
        </div>
    </div>
</nav>

<div class="container" style="max-width: 720px">
    <div class="container">
        <form method="post" th:action="@{/main}" th:object="${posting}">
            <div class="container">
                <label for="new" class="h3" style="margin-top: 12px">说点什么吧</label>
                <textarea class="form-control" id="new" disabled="disabled" placeholder="请先登录" th:field="*{content}"></textarea>
                <button id="send_button" type="submit" class="btn btn-primary" style="margin-top: 6px" disabled>发表</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="container">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <span class="nav-link sort-by">排序方式：</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link sort-by">时间</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sort-by">点赞</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sort-by">评论</a>
                </li>
            </ul>
        </div>
        <div class="container article" th:each="weibo:${contents}" th:remove="all-but-first">
            <div class="author-time">
                <a class="author-name h4" th:text="*{weibo.poster.getName()}">马保国</a>
                <span class="time" th:text="*{weibo.time}">2小时前</span>
                <p th:text="*{weibo.content}"></p>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a th:href="@{/api/like(id=${weibo.id})}">点赞 </a>
                        <a class="nav-link count" th:text="*{weibo.like_num}">点赞 666</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/detail(id=${weibo.id})}">评论 </a>
                        <a class="nav-link count" th:text="*{weibo.comment_num}">评论 233</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/main(start=0)}">[首页]</a>
            </li>
            <li class="page-item active">
                <a class="page-link" th:if="${not contents.isFirst()}" th:href="@{/main(start=${contents.number-1})}">[上一页]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${not contents.isLast()}" th:href="@{/main(start=${contents.number+1})}">[下一页]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/main(start=${contents.totalPages-1})}">[末页]</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<script>
    function getLogedin(){
        console.log("getting loged in!");
        cookies = document.cookie;
        cookies = cookies.replace(/\s/,"");
        var cookie_array = cookies.split(";");
        console.log(cookie_array.length)
        console.log(cookie_array)
        var count = 0;
        for(i=0;i<cookie_array.length;i++){
            var c = cookie_array[i];
            var array = c.split("=");
            console.log(c)
            if(array[0]==="u_name" && array[1]!=="") {
                console.log("set lower button!")
                document.getElementById("new").setAttribute("placeholder", "");
                document.getElementById("new").disabled = false;
                document.getElementById("send_button").disabled = false;
                document.getElementById("send_button").setAttribute("onclick","")
                console.log("set lower button done")
                count++;
            }
            else if(array[0]===" u_id" && array[1]!==""){
                console.log("set upper button!")
                document.getElementById("first_button").setAttribute("onclick", "window.location.href='/user/"+array[1]+"'");
                document.getElementById("second_button").setAttribute("onclick", "window.location.href='/logout/"+array[1]+"'");
                document.getElementById("first_button").innerText="我的";
                document.getElementById("second_button").innerText="注销";
                console.log("set upper button done")
                count++;
            }
            if(count===2)
                return true;
        }
        document.getElementById("new").setAttribute("placeholder","请先登录")
        document.getElementById("new").disabled = true;
        return false;
    }
</script>
</body>
</html>