<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script>
    function getQueryVariable(variable){
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i=0;i<vars.length;i++) {
            let pair = vars[i].split("=");
            if(pair[0] === variable){return pair[1];}
        }
        return "0";
    }
    function setCookie(cname,cvalue,exdays){
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname+"="+cvalue+"; "+expires;
    }
    logOut = function (){
        setCookie("u_id","",-1);
        setCookie("u_email","",-1);
        setCookie("u_name","",-1);
        window.location.href = "/main";
    }
    function getLogedin(){
        console.log("getting loged in!");
        cookies = document.cookie;
        cookies = cookies.replace(/\s/,"");
        var id = getQueryVariable("id");
        var cookie_array = cookies.split(";");
        console.log(cookie_array.length)
        console.log(cookie_array)
        var count = 0;
        for(i=0;i<cookie_array.length;i++){
            var c = cookie_array[i];
            var array = c.split("=");
            console.log(c)
            if(array[0]==="u_name" && array[1]!=="") {
                count++;
            }
            else if(array[0]===" u_id" && array[1]!==""){
                if(id===array[1]){
                    document.getElementById("addFollow").removeAttribute("href");
                    console.log("this is me!")
                }
                count++;
            }
            if(count===2)
                return true;
        }
        return false;
    }
    function list(method){
        var start = getQueryVariable("start");
        var id = getQueryVariable("id");
        var temp = window.location.href;
        var url = temp.split("?")[0];
        url+="?start="+start+"&id="+id+"&method="+method;
        window.location.href=url;
    }
</script>
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet">

    <title>微博er——个人主页</title>
</head>
<body onload="getLogedin()" th:object="${thisUser}">
<div class="jumbotron text-center">
    <h1 th:text="微博er-- +${thisUser.name} +的个人主页">微博er——马保国的个人主页</h1>
    <ul class="list-inline">
        <li class="list-inline-item" th:text="关注 +${thisUser.getFoNum()}">关注 233</li>
        <li class="list-inline-item" th:text="粉丝 +${thisUser.getFoedNum()}">粉丝 666</li>
        <li class="list-inline-item"><a th:href="@{/follow(id=${thisUser.getId()},source='user?id='+${thisUser.getId()}+'&method='+${method}+'&start='+${contents.getNumber()})}" id="addFollow">+关注</a></li>
    </ul>
</div>

<div class="container" style="max-width: 720px">
    <div class="container">
        <div class="container">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <span class="nav-link sort-by">排序方式：</span>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary"  onclick="list('time')">时间</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary"  onclick="list('likeNum')">点赞</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary"  onclick="list('commentNum')">评论</button>
                </li>
            </ul>
        </div>
        <div class="container article" th:each="weibo:${contents}" th:remove="all-but-first" id="main_container">
            <div class="author-time">
                <a class="author-name h4" th:text="${weibo.poster.getName()}">马保国</a>
                <span class="time" th:text="${weibo.time}">2小时前</span>
                <p th:text="${weibo.content}"></p>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a th:href="@{/api/like(id=${weibo.id},source='user?id='+${thisUser.getId()},start=${contents.number})}">赞 </a>
                        <a class="nav-link count" th:text="${weibo.likeNum}">点赞 666</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/detail(id=${weibo.id})}">评论 </a>
                        <a class="nav-link count" th:text="${weibo.commentNum}">评论 233</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center" th:object="${method}">
            <li class="page-item">
                <a class="page-link" th:href="@{/user(id=${thisUser.getId()},start=0,method=${method})}">[首页]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${not contents.isFirst()}" th:href="@{/user(id=${thisUser.getId()},start=${contents.number-1},method=${method})}">[上一页]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${not contents.isLast()}" th:href="@{/user(id=${thisUser.getId()},start=${contents.number+1},method=${method})}">[下一页]</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/user(id=${thisUser.getId()},start=${contents.totalPages-1},method=${method})}">[末页]</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>